 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/10003.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 645px;
}

.u-section-1 .u-group-1 {
  width: 696px;
  min-height: 531px;
  height: auto;
  margin: 93px auto 21px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 2px 20px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 97px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 130px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 0 179px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    border-radius: 4px;
  }

  .u-section-1 .u-btn-2 {
    position: relative;
    border-radius: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding: 10px 23px 10px 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 45px 20px 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 530px;
  min-height: 85px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 77px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 30px 453px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 20px 40px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 45px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 450px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 330px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-group-1 {
  min-height: 181px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 74px;
  position: relative;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 204px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/10005.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 70px auto 0 20px;
  padding: 5px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: -44px 45px 0 104px;
}

.u-section-3 .u-image-2 {
  min-height: 204px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/plumbing.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 70px auto 0 20px;
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -44px 45px 0 104px;
}

.u-section-3 .u-image-3 {
  min-height: 204px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/verwarming.png");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 70px auto 0 20px;
  padding: 9px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: -44px 45px 0 104px;
}

.u-section-3 .u-image-4 {
  min-height: 197px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/f7ed4e6d7496b5ff7b281de1222a9c87ae093d3991d077601ee407c81695b6a41fa5e7840fbec1f16726271749ee46d315e5c25e7125035cbd6408_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 67px auto 0 20px;
  padding: 8px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -44px 13px 0 104px;
}

.u-section-3 .u-image-5 {
  min-height: 197px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/b1d32850f6d3c8c7b6d672eeb30cfe1cfda1a77dfde2046f7939c03208e192aefdf6591dbf964c5d687e48ce06a1eb39846668644fde155c1ea5a3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 67px auto 0 20px;
  padding: 8px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: -56px 45px 0 104px;
}

.u-section-3 .u-image-6 {
  min-height: 197px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/43494d68287b86b1bb807cdfc6facf3fd602e6d65b65514722c3b928da5a5eb8a25bca991cde5d0bd6d937e7a8e32084ac28f9e671df0a37c0b92b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 67px auto 0 20px;
  padding: 12px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: -56px 13px 0 91px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    background-position: 0% 0%;
    min-height: 168px;
  }

  .u-section-3 .u-icon-1 {
    position: relative;
    border-radius: 10px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    font-weight: normal;
    margin-right: 12px;
    margin-left: 71px;
  }

  .u-section-3 .u-image-2 {
    background-position: 0% 0%;
    min-height: 168px;
  }

  .u-section-3 .u-icon-2 {
    position: relative;
    border-radius: 10px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    font-weight: normal;
    margin-right: 12px;
    margin-left: 71px;
  }

  .u-section-3 .u-image-3 {
    background-position: 0% 0%;
    min-height: 168px;
  }

  .u-section-3 .u-icon-3 {
    position: relative;
    border-radius: 10px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    font-weight: normal;
    margin-right: 12px;
    margin-left: 71px;
  }

  .u-section-3 .u-image-4 {
    background-position: 0% 0%;
  }

  .u-section-3 .u-icon-4 {
    position: relative;
    border-radius: 10px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    font-weight: normal;
    margin-top: -92px;
    margin-right: 11px;
    margin-left: 86px;
  }

  .u-section-3 .u-image-5 {
    background-position: 0% 0%;
    min-height: 162px;
  }

  .u-section-3 .u-icon-5 {
    position: relative;
    border-radius: 10px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    font-weight: normal;
    margin-right: 12px;
    margin-left: 71px;
  }

  .u-section-3 .u-image-6 {
    background-position: 0% 0%;
    min-height: 162px;
  }

  .u-section-3 .u-icon-6 {
    position: relative;
    border-radius: 10px;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    font-weight: normal;
    margin-right: 0;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 129px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 129px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 129px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -66px;
    margin-right: -20px;
    margin-left: 94px;
  }

  .u-section-3 .u-image-5 {
    min-height: 124px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 124px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 290px;
  }

  .u-section-3 .u-image-2 {
    min-height: 290px;
  }

  .u-section-3 .u-image-3 {
    min-height: 290px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 6px;
    margin-left: 122px;
  }

  .u-section-3 .u-image-5 {
    min-height: 279px;
  }

  .u-section-3 .u-image-6 {
    min-height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 183px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 183px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 183px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 4px;
    margin-left: 90px;
  }

  .u-section-3 .u-image-5 {
    min-height: 176px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    min-height: 176px;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-5,
.u-section-3 .u-icon-5:before,
.u-section-3 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-6,
.u-section-3 .u-icon-6:before,
.u-section-3 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-6.u-icon-6.u-icon-6:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-icon-6.u-icon-6.u-icon-6.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  stroke-width: 0px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-group-1 {
  width: 775px;
  min-height: 162px;
  margin: 25px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 15px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 68px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 15px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 25px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 391px;
  background-image: url("images/default-image.jpg?rand=049b");
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  height: 90px;
  width: 90px;
  margin: 25px auto 0;
  padding: 21px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-4 .u-image-2 {
  min-height: 391px;
  background-image: url("images/default-image.jpg?rand=005d");
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  height: 90px;
  width: 90px;
  margin: 25px auto 0;
  padding: 21px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-4 .u-image-3 {
  min-height: 391px;
  background-image: url("images/default-image.jpg?rand=6ab3");
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  height: 90px;
  width: 90px;
  margin: 25px auto 0;
  padding: 21px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-4 .u-image-4 {
  min-height: 391px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/612eb8cf2f371d0fb9b5109b047656919350cf20da7d1a8a1083f651356936d7f1ea21500c446b4c1a63506a098f147f59853c8c680d08852a4206_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-4 {
  height: 90px;
  width: 90px;
  margin: 25px auto 0;
  padding: 21px;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-4 .u-image-5 {
  min-height: 391px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/34d0ba01840b306208569bd5e2224c00b81d727ec8e690657305d65d0f39ad19726afdeaada67af33e2694daea0eeb17c9676c50cc16da8bc6e3f2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-5 {
  height: 90px;
  width: 90px;
  margin: 25px auto 0;
  padding: 21px;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-11 {
  margin: 8px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-group-1 {
    width: 639px;
    position: relative;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 56px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 283px;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    min-height: 283px;
    background-position: 0% 0%;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    min-height: 283px;
    background-position: 0% 0%;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-4 {
    min-height: 283px;
    background-position: 0% 0%;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-5 {
    background-position: 0% 0%;
    min-height: 322px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-4 .u-group-1 {
    width: 489px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 43px;
  }

  .u-section-4 .u-image-1 {
    min-height: 617px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    min-height: 617px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    min-height: 617px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-4 {
    min-height: 617px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-5 {
    min-height: 617px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-group-1 {
    width: 459px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 40px;
  }

  .u-section-4 .u-image-1 {
    min-height: 926px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-2 {
    min-height: 926px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-3 {
    min-height: 926px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-4 {
    min-height: 926px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-5 {
    min-height: 926px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 34px;
  }

  .u-section-4 .u-image-1 {
    min-height: 583px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-2 {
    min-height: 583px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-3 {
    min-height: 583px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-4 {
    min-height: 583px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-5 {
    min-height: 583px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 721px;
}

.u-section-5 .u-group-1 {
  width: 781px;
  min-height: 194px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 72px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 20px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
}

.u-section-5 .u-group-2 {
  width: 341px;
  min-height: 217px;
  margin: 22px auto 0 13px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 0;
}

.u-section-5 .u-text-3 {
  width: 268px;
  margin: 22px auto 0;
}

.u-section-5 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 43px auto -52px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 64px 3px 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0 45px 6px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 477px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-group-3 {
  width: 313px;
  min-height: 219px;
  margin: 21px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-6 {
  margin: 25px 20px 0;
}

.u-section-5 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 43px auto -53px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 63px 20px 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 20px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 477px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-group-4 {
  width: 313px;
  min-height: 219px;
  margin: 21px auto 0;
}

.u-section-5 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-9 {
  margin: 25px 20px 0;
}

.u-section-5 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: 43px auto -54px;
}

.u-section-5 .u-text-10 {
  font-size: 1.25rem;
  margin: 63px 20px 0;
}

.u-section-5 .u-text-11 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-5 .u-group-1 {
    width: 644px;
    position: relative;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 59px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 281px;
    position: relative;
    margin-left: 11px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    width: 221px;
  }

  .u-section-5 .u-image-1 {
    width: 82px;
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    font-size: 1.5rem;
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    font-size: 1rem;
    margin-left: 5px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-5 .u-group-3 {
    width: 258px;
    position: relative;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    width: 98px;
    position: relative;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    font-size: 1rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 435px;
  }

  .u-section-5 .u-group-4 {
    width: 258px;
    position: relative;
  }

  .u-section-5 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    width: 82px;
    position: relative;
  }

  .u-section-5 .u-text-10 {
    position: relative;
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-11 {
    position: relative;
    font-size: 1rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 493px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 45px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-5 .u-group-2 {
    width: 215px;
    margin-left: 8px;
  }

  .u-section-5 .u-text-3 {
    width: 169px;
  }

  .u-section-5 .u-image-1 {
    width: 63px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 4px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-5 .u-group-3 {
    width: 308px;
    min-height: 268px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    width: 75px;
    margin-top: 73px;
    margin-bottom: -34px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 443px;
  }

  .u-section-5 .u-group-4 {
    width: 304px;
    min-height: 268px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-3 {
    width: 63px;
    margin-top: 70px;
    margin-bottom: -31px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 462px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 43px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-5 .u-group-2 {
    width: 202px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    width: 159px;
  }

  .u-section-5 .u-image-1 {
    width: 59px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 3px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-5 .u-group-3 {
    width: 345px;
    min-height: 343px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 108px;
    margin-right: 14px;
    margin-left: 4px;
  }

  .u-section-5 .u-image-2 {
    width: 128px;
    height: 125px;
    margin-top: 60px;
    margin-bottom: -29px;
    margin-left: 106px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 518px;
  }

  .u-section-5 .u-group-4 {
    width: 341px;
    min-height: 343px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 95px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-3 {
    width: 129px;
    height: 130px;
    margin-top: 68px;
    margin-bottom: -28px;
    margin-left: 104px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-5 .u-group-2 {
    width: 170px;
    margin-left: 4px;
  }

  .u-section-5 .u-text-3 {
    width: 133px;
  }

  .u-section-5 .u-image-1 {
    width: 50px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 2px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-5 .u-group-3 {
    width: 294px;
    min-height: 468px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 153px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    width: 140px;
    height: 139px;
    margin-top: 101px;
    margin-left: 75px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 643px;
  }

  .u-section-5 .u-group-4 {
    width: 294px;
    min-height: 468px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 147px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-3 {
    width: 138px;
    height: 142px;
    margin-top: 102px;
    margin-bottom: -26px;
    margin-left: 76px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 .u-group-1 {
  width: 926px;
  min-height: 169px;
  margin: 34px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 20px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-line-1 {
  width: 71px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.989deg);
  margin: 30px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 764px;
    position: relative;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 585px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 35px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 617px;
}

.u-section-7 .u-text-1 {
  margin: 68px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 617px;
  margin-top: -101px;
  margin-bottom: 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 203px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: 60px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 640px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}@font-face {
  font-family: 'benzin-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/benzin-bold.ttf);
}